<?xml version="1.0" encoding="UTF-8"?>
<config offering="" version="" model="0">
    <urlpath>
        <viewpath>xxxx</viewpath>
        <getconfig>xxxx</getconfig>
        <updateconfig>xxxx</updateconfig>
    </urlpath>
    <!--Used for restore the file which is source code-->
    <targetpath>
        <windowspath>D:\Temp\target</windowspath>
        <linuxpath>usr1/temp/target</linuxpath>
        <exclude>
            <type>gitignore</type>
            <folder>.git</folder>
            <file>file</file>
        </exclude>
        <repositories>
            <!--The repository of git setting-->
            <gits username="wybuguin@hotmail.com" passwd="12345">
                <!--The config for git. There can be mutil repository of git-->
                <git id="1" username="wybuguin@hotmail.com" passwd="12345">
                    <!--This config is used for download code form git-->
                    <gitpath>
                        https://github.com/Buguin/learngit.git
                    </gitpath>
                    <!--If foldername is empty, code will download to the folder which name the suffix of gitpath-->
                    <foldername>
                    </foldername>
                </git>
                <git id="2" username="" passwd="">
                    <gitpath>
                        https://github.com/Buguin/game-of-life.git
                    </gitpath>
                    <foldername>
                        game
                    </foldername>
                </git>
            </gits>
            <!--The repository of svn setting-->
            <svns username="wybuguin@hotmail.com" password="12345">
                <svn id="" username="wybuguin@hotmail.com" password="12345">
                    <!--This config is used for download code form git-->
                    <svnpath>
                        https://github.com/Buguin/learngit.git
                    </svnpath>
                    <!--If foldername is empty, code will download to the folder which name the suffix of gitpath-->
                    <foldername>
                    </foldername>
                </svn>
            </svns>
        </repositories>
    </targetpath>
    <!--Used for restore the file which is original file-->
    <sourcepath>
        <windowspath>D:\Temp\source</windowspath>
        <linuxpath>usr1/temp/source</linuxpath>
        <exclude>
            <type>gitignore</type>
            <folder>.git</folder>
            <file></file>
        </exclude>
        <repositories>
            <!--The repository of git setting-->
            <gits username="wybuguin@hotmail.com" passwd="12345">
                <!--The config for git. There can be mutil repository of git-->
                <git id="1" username="wybuguin@hotmail.com" passwd="12345">
                    <!--This config is used for download code form git-->
                    <gitpath>
                        https://github.com/Buguin/learngit.git
                    </gitpath>
                    <!--If foldername is empty, code will download to the folder which name the suffix of gitpath-->
                    <foldername>
                    </foldername>
                </git>
                <git id="2" username="wybuguin@hotmail.com" passwd="12345">
                    <gitpath>
                        https://github.com/Buguin/game-of-life.git
                    </gitpath>
                    <foldername>
                        game
                    </foldername>
                </git>
            </gits>
            <!--The repository of svn setting-->
            <svns username="wybuguin@hotmail.com" password="12345">
                <svn id="" username="wybuguin@hotmail.com" password="12345">
                    <!--This config is used for download code form git-->
                    <svnpath>
                        https://github.com/Buguin/learngit.git
                    </svnpath>
                    <!--If foldername is empty, code will download to the folder which name the suffix of gitpath-->
                    <foldername>
                    </foldername>
                </svn>
            </svns>
        </repositories>
    </sourcepath>
    <configlist>
        <config id="1" name="RTOS-GIU" offering="RTOS" version="V100R012C00">
            <type>BIOS</type>
            <models>
                <modle id="1">GPU</modle>
                <modle id="2">ASU</modle>
            </models>
            <iscommercial>Yes</iscommercial>
            <isupdate>Yes</isupdate>
            <iscompare>Yes</iscompare>
            <compareresult>NO</compareresult>
            <targetpath>
                \game
            </targetpath>
            <!--The path of repository-->
            <sourvepath>
                \game-life
            </sourvepath>
            <!--The path of vmp-->
            <vmppath>

            </vmppath>
            <exclude>
                <targetexclude>
                    <type>gitignore</type>
                    <folder>.git</folder>
                    <file></file>
                </targetexclude>
                <sourveexclude>
                    <type>gitignore</type>
                    <folder>.git</folder>
                    <file></file>
                </sourveexclude>
            </exclude>
        </config>
        <config id="2" name="DOPRA-ASU" offering="DOPRA" version="V100R019C00">
            <type>CompileTool</type>
            <models>
                <modle id="1">GPU</modle>
                <modle id="2">ASU</modle>
            </models>
            <iscommercial>Yes</iscommercial>
            <isupdate>Yes</isupdate>
            <iscompare>Yes</iscompare>
            <compareresult>NO</compareresult>
            <targetpath>
                \learngit
            </targetpath>
            <!--The path of repository-->
            <sourvepath>
                \visp
            </sourvepath>
            <!--The path of vmp-->
            <vmppath>

            </vmppath>
            <exclude>
                <targetexclude>
                    <type>gitignore</type>
                    <folder>.git</folder>
                    <file></file>
                </targetexclude>
                <sourveexclude>
                    <type>gitignore</type>
                    <folder>.git</folder>
                    <file></file>
                </sourveexclude>
            </exclude>
        </config>
    </configlist>
</config>